.mc{
    background-color: deeppink
}

.hi{
    background-color: deepskyblue;
}

.header{
    text-align: center;
    color: #000000;
    background-color: rgb(255, 214, 230);
}

.menu{
    display: flex;
    justify-content: space-between;
    background-color:#ff00a2;
    padding: 15px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
    color: #ffffff;
}
body{
    margin: 0px;
    background-color:#ffffff;
    
}
.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly
}
.grid img{
    border: 2px solid #000000;
    border-radius: 50px;
}

.origami{
    border:2px solid rgb(250, 191, 255);
}

.aa{
    background-color: rgb(255, 204, 204);
}

.bb{
    background-color: rgb(255, 215, 169);
}

.cc{
    background-color: rgb(255, 242, 169);
}
.dd{
    background-color: rgb(208, 255, 169);
}
.ee{
    background-color: rgb(169, 255, 254);
}
.ff{
    background-color: rgb(221, 169, 255);
}
.gg{
    background-color: rgb(255, 169, 255);
}
.hh{
    background-color: rgb(255, 169, 191);
}
